.title{
    font-size:20px;
}

.right{
text-align: right;
 
}

.center{
text-align: center;
}

.titleMain{
 font-size:30px;
 text-align: center;
    
}

.product {
    padding: 10px;
    border: 1px solid #ebebeb;
    width: 95px;
    margin: 10px;
    
    display: inline-block;
}