<div class="jumbotron">
    <h1>Two strings concatenation</h1>

     String One <input type="text" ng-model="first_string">
     String Two<input type="text" ng-model="second_string"><br>

    Concatenated string: {{first_string+second_string}}


    <h1>Hiding calculation module</h1>
    Show module:<input type="checkbox" ng-model="show">

    <div ng-show="show">

     Number One <input type="number" ng-model="first_number">
     Number Two<input type="number" ng-model="second_number"><br>

     the sum of :"{{first_number}}"+"{{second_number}}" = "{{first_number+second_number}}"<br>
     the mult of :"{{first_number}}"*"{{second_number}}" = "{{first_number*second_number}}"<br>



</div>
</div>
