<div name="listForm">
    <input type="text" ng-model="newItem">
    <input type="submit"  value="Add item" ng-click="addItem()">
    <input type="checkbox"  ng-click="showAlreadyAddedF()">ShowItemsAlreadyAdded</p>
    <div ng-model"listOflements">
        <div ng-repeat="item in itemsList |filter: filterSubmitted">
             <input type="checkbox" ng-click="checkItem(item)" ng-show="{{!item.submitted}}"> {{item.item}}
        </div>
    </div>

    <input type="submit"  value="submitList" ng-click="submitList()">
    <input type="submit" value="delete selected" ng-click="deleteSelected()">
</div>